<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns:tizen="http://tizen.org/ns/widgets" xmlns="http://www.w3.org/ns/widgets" id="http://yourdomain/TimetableSwords" version="1.0.0" viewmodes="maximized">
    <tizen:application id="Uerj3vAlbP.TimetableSwords" package="Uerj3vAlbP" required_version="2.3.1"/>
    <access origin="*" subdomains="true"></access>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <icon src="icon.png"/>
    <name>TimetableSwords</name>
     <tizen:privilege name="http://tizen.org/privilege/internet"/>
    <tizen:privilege name="http://tizen.org/privilege/location"/>
    <tizen:profile name="wearable"/>
</widget>
